
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ömer KOCAMAN</title>

    <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/AboutPAge.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="~/Home">Ömer KOCAMAN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <hr />

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/"><i class="fa fa-fw fa-home"></i> Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Hakkimda"><i class="fa fa-fw fa-user-circle"></i>Hakkımda</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Ara</button>
                </form>
            </div>
        </div>
    </nav>


    <header class="masthead">
        <p class="masthead-intro">Merhaba, ben</p>
        <h1 class="masthead-heading">Ömer</h1>
    </header>
    <section class="introduction">
        <h1 class="heading">Kimim?</h1>
        <p>sdasdasdasdasdasd</p>
    </section>
    
    <section class="questions">
        <h1 class="heading">More About Me</h1>
        <dl class="question-list">
            <dt class="question">What are your favorite hobbies?</dt>
            <dd class="answer">I&rsquo;m a huge gamer. I also <strong>LOVE</strong> food. I&rsquo;m always trying new cuisine. Foodies unite!</dd>
            <dt class="question">What&rsquo;s your dream job?</dt>
            <dd class="answer">I&rsquo;d love to open my own mobile game studio in the future!</dd>
            <dt class="question">What&rsquo;s your background?</dt>
            <dd class="answer">I&rsquo;ve been programming since I was in middle school. I decided to go to school for design because I love front-end and felt like I needed more help with the design side than the programming side.</dd>
            <dt class="question">What music have you been listening to lately?</dt>
            <dd class="answer">I&rsquo;ve been listening to a ton of <a href="https://soundcloud.com/rynweaver/promises">Ryn Weaver</a> lately, ever since her first EP came out in late July.</dd>
        </dl>
    </section>
    <footer class="content-footer">
        <p class="body-copy">Say hi to me on these social networks:</p>
        <ul class="social">
            <li><a href="https://github.com/brebory">Github</a></li>
            <li><a href="https://twitter.com/brebory">Twitter</a></li>
            <li><a href="https://plus.google.com/+BrendonRobertoThinkful">Google+</a></li>
        </ul>
        <p>Cover Image via <a href="http://unsplash.com">Unsplash</a></p>
    </footer>



</body>
</html>
