@model IEnumerable<MvcBlogProjesi.Models.Category>


<div class="col-md-6">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Kategoriler
        </a>
        @foreach (var item in Model)
        {
            <a href="" class="list-group-item list-group-item-action">@item.KategoriAdi</a>
        }
    </div>
</div>